<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>EFI Link de Pagamento</title>
  <link rel="stylesheet" href="/public/index.css">
</head>
<body>
  <header>
    LOGO
  </header>

  <main>
    <iframe src="<%= paymentLink %>" title="description"></iframe>
  </main>
</body>
</html>